<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>561436211960-vemcni7v6t4jkj0f7onom5jmuqgl15ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561436211960-vemcni7v6t4jkj0f7onom5jmuqgl15ob</string>
	<key>API_KEY</key>
	<string>AIzaSyCBDQWHidgJ4VCwPMyrrc805SppXG3BBDM</string>
	<key>GCM_SENDER_ID</key>
	<string>561436211960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jose.My-Kitchen</string>
	<key>PROJECT_ID</key>
	<string>my-kitchen-ac9de</string>
	<key>STORAGE_BUCKET</key>
	<string>my-kitchen-ac9de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561436211960:ios:5ed69bcda7b879b9</string>
	<key>DATABASE_URL</key>
	<string>https://my-kitchen-ac9de.firebaseio.com</string>
</dict>
</plist>